<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>insertDatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item>
      <ion-input
       type="text"
       placeholder="Nombre"
       formControlName="datNombre"
       required 
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
       type="text"
       placeholder="Apellido"
       formControlName="datApellido"
       required 
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
       type="number"
       placeholder="Edad"
       formControlName="datEdad"
       required 
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
       type="text"
       placeholder="Deporte"
       formControlName="datDeporte"
       required 
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
       type="text"
       placeholder="Url imágen"
       formControlName="datImagen"
       required 
      >
      </ion-input>
    </ion-item>
    <ion-button
      type="submit"
    > Enviar
    </ion-button>
  </form>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">insertDatos</ion-title>
    </ion-toolbar>
  </ion-header> -->
</ion-content>
