<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button (click)="insert()">
      <ion-icon  name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h3><strong>Bienvenido</strong></h3>
  <ion-card *ngFor="let myDatos of datos">
    <ion-card-content>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header">
            <ion-label>{{myDatos.datNombre}} {{myDatos.datApellido}}</ion-label>
            <ion-icon color="danger" slot="end" name="trash-outline" (click)="removeDatos(myDatos.datId)"></ion-icon>
            <ion-icon color="primary" slot="end" name="create-outline" (click)="updateDatos(myDatos)"></ion-icon>
          </ion-item>
          <div class="ion-padding" slot="content">
            <div *ngIf="myDatos.datEdad >= 18; else menor">
                <strong>{{myDatos.datDeporte}}</strong>
                <img src="{{myDatos.datImagen}}" alt="">
            </div>
          </div>
          <ng-template #menor>
            <h1><strong>No se puede mostrar información (Menor de Edad)</strong></h1>
          </ng-template>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>
</ion-content>
